<% provide(:title, "Help") %>
<h1> <%= I18n.t("HelpPage.title") %> </h1>
<p>
  <%= I18n.t("HelpPage.content") %>
  <a href="https://www.railstutorial.org/help">Rails Tutorial Help page</a>.
  To get help on this sample app, see the
  <a href="https://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
  book</a>.
</p>
