<% provide(:title, "Home") %>
<h1>Sample App</h1>
<p>
This is the home page for the
<a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
sample application.
</p>

<nav>
<ul class="nav navbar-nav navbar-right">
<li><%= link_to "Home" , 'home' %></li>
<li><%= link_to "About",'about' %></li>
<li><%= link_to "Help",'help' %></li>
<li><%= link_to "Log in", '#' %></li>
</ul>
</nav>