<% provide(:title, "Home") %>
<h1>Sample App</h1>
<p>
This is the Chapter 4 for the
<a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
sample application. (String Methods)
</p>

<nav>
<ul class="nav navbar-nav navbar-right">
<li><%= link_to "String" , 'string' %></li>

</ul>
</nav>