<% provide(:title, "Application") %>
<h1>Application App</h1>
<p>
This is the home page for the
<a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
Application application.
</p>

<nav>
<ul class="nav navbar-nav navbar-right">

<li><%= link_to "Chapter 3" , '/static_pages/home' %></li>
<li><%= link_to "Chapter 4",'/string_methods/index' %></li>
</ul>
</nav>